services:
  primary:
    build:
      context: ${PROJECT_ROOT}
      dockerfile: ${CONTAINER_FILE} # infra/Containerfile
    container_name: snake_pit
    volumes:
      - ${PROJECT_ROOT}:/app:Z
    working_dir: /app
    environment:
      - PROJECT_ROOT=${PROJECT_ROOT}
    ports:
      - "9200:9200" # Primary HTTP
      - "9201:9201" # Primary gRPC
    command: ["/bin/sh", "-c", "while true; do sleep 3600; done"]

  worker:
    build:
      context: ${PROJECT_ROOT}
      dockerfile: ${CONTAINER_FILE} # infra/Containerfile
    # No container_name here so we can scale
    volumes:
      - ${PROJECT_ROOT}:/app:Z
    working_dir: /app
    depends_on:
      - primary
    command: ["/bin/sh", "-c", "while true; do sleep 3600; done"]